<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Publications</title>
body {font-family: 'Droid Serif', serif;

	<link here="stylesheet.css" rel="stylesheet">
	</head>
	
	
<body style="background-color:powderblue;">

<div class="links>Link - link - link</div>
<div class="picture"><img src=Kat.jpg><.div>




<head>
	<title>My Publications</title>
	<link href="styles.css rel="stylesheet">
	</head>

body { background: DeepSkyBlue;
		color: darkgray;
		font-size: 14pt;} 
		
table, th, td {
    border: 1px solid black;
}
	
</html/>